In [84]:
# import dependencies
import pandas as pd
import numpy as np
import sys
from datetime import datetime
import getpass

# # For MySQL
# from sqlalchemy import create_engine
# import pandas as pd
# import pymysql

# For PostgreSQL
from sqlalchemy import create_engine
import pandas as pd
import psycopg2

# # For SQL Server
# from sqlalchemy import create_engine
# import pandas as pd
# import pyodbc

In [85]:
import psycopg2

username = 'gmb'
password = getpass.getpass('Enter password:')
public_ip_address = '34.28.219.203'
db_name = 'gmb'

# Create a connection
conn = psycopg2.connect(
    dbname=db_name,
    user=username,
    password=password,
    host=public_ip_address
)

# Create a cursor
cur = conn.cursor()

Enter password:········

In [86]:
# Query to get all table names in the PostgreSQL database
query = """
SELECT tablename 
FROM pg_catalog.pg_tables 
WHERE schemaname != 'pg_catalog' AND 
      schemaname != 'information_schema';
"""

# Execute the query
cur.execute(query)

# Anonymization

In [87]:
query_create_view = """
create view anonymized_billing_paymentcustomer AS
select 
    id,
    payment_id,
    CONCAT('User', id) AS first_name, 
    CONCAT('User', id) AS last_name,
    CONCAT('user', id, '@example.com') AS email 
FROM 
    billing_paymentcustomer;
"""

with conn.cursor() as cur:
    cur.execute(query_create_view)

In [89]:
query_anonymized = """
SELECT * FROM anonymized_billing_paymentcustomer
LIMIT 100
"""

anonymized_df = pd.read_sql(query_anonymized, conn)
anonymized_df.head(10)

/Users/ruddysimonpour/opt/anaconda3/envs/pythonenv/lib/python3.10/site-packages/pandas/io/sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

     id          payment_id first_name last_name                 email
0     1   1mkVvtKRRHh1FSJa3      User1     User1     user1@example.com
1  2476   AzZcqTRqPip7E1IOs   User2476  User2476  user2476@example.com
2  2683   16A18eRueDRUg2GYP   User2683  User2683  user2683@example.com
3  2381   16BZD4Rohbj6F1FYl   User2381  User2381  user2381@example.com
4     3   1vljsjqRRJpghhWO3      User3     User3     user3@example.com
5    30  2smoc9IVRRawFmkuQR     User30    User30    user30@example.com
6  2530   AzyWAARrO2FjH229n   User2530  User2530  user2530@example.com
7    17  J28UHYERRWP0Os1DV9     User17    User17    user17@example.com
8    23   1vljsi5RRYLl9kD5r     User23    User23    user23@example.com
9    18  1vljsekRRWPh7D1HCl     User18    User18    user18@example.com