In [56]:
# import dependencies
import pandas as pd
import numpy as np
import sys
from datetime import datetime
import getpass

# # For MySQL
# from sqlalchemy import create_engine
# import pandas as pd
# import pymysql

# For PostgreSQL
from sqlalchemy import create_engine
import pandas as pd
import psycopg2

# # For SQL Server
# from sqlalchemy import create_engine
# import pandas as pd
# import pyodbc

In [60]:
import psycopg2

username = 'gmb'
password = getpass.getpass('Enter password:')
public_ip_address = '34.28.219.203'
db_name = 'gmb'

# Create a connection
conn = psycopg2.connect(
    dbname=db_name,
    user=username,
    password=password,
    host=public_ip_address
)

# Create a cursor
cur = conn.cursor()

Enter password:········

In [61]:
# Query to get all table names in the PostgreSQL database
query = """
SELECT tablename 
FROM pg_catalog.pg_tables 
WHERE schemaname != 'pg_catalog' AND 
      schemaname != 'information_schema';
"""

# Execute the query
cur.execute(query)

In [62]:
tables = cur.fetchall()

# print the table names
for table in tables:
    print(table[0])

django_migrations
django_session
django_site
matching_emailmatchingstorage
matching_matchinglogic
matching_matchinglogichistory
matching_matchingsettings
member_timezonehelper
newsbox_announcement
scoring_grouplevel
scoring_level
sentence_generator_sentence
social_auth_association
social_auth_code
social_auth_nonce
social_auth_partial
activity_activitytemplate
activity_activitytemplate_categories
activity_category
activity_activitytemplateusage
member_user
group_group
activity_event
activity_custompromptvalue
activity_customprompt
activity_templateevent
activity_habit
activity_plan
activity_event_prompts
challenge_challenge
questionnaire_question
activity_negativebehaviour
activity_note
activity_templateevent_prompts
auth_permission
auth_group_permissions
auth_group
django_content_type
billing_paymentcustomer
billing_paymentsubscription
billing_subscriptionplan
member_segmentation
billing_subscriptionplan_segmentation
campaigns_campaign
campaigns_campaign_subscription_plans
challenge_challenge_categories
challenge_challengeicon
member_location
challenge_challengechatmessage
challenge_challengeinvite
challenge_challengeparticipant
chat_chatmessage
chat_thread
matching_buddyrequest
community_communityquestion
community_communitydatasource
community_community
connected_app_app
django_admin_log
group_group_categories
group_groupicon
group_groupannouncement
group_groupchatmessage
group_groupinvite
group_groupmembership
group_grouppost
group_grouppostresponse
group_groupqueue
group_grouprequest
matching_matching
matching_algorithmbackendscore
matching_buddyrequesthistory
matching_matchingalgorithm
member_loginhistory
member_memberinvitation
member_notification
member_secondaryemail
member_user_applications
avatar_avatarbody
avatar_avatareyes
avatar_avatarhair
avatar_avatarmouth
member_communicationpreference
member_user_communication_preferences
member_gender
member_user_groups
member_user_negative_behaviours
member_user_user_permissions
member_userdata
member_userhabit
member_usersetting
newsbox_quote
newsbox_shoutout
oauth2_provider_refreshtoken
oauth2_provider_accesstoken
oauth2_provider_application
oauth2_provider_grant
questionnaire_choice
questionnaire_module
questionnaire_module_questions
scoring_difficulty
scoring_rewardexperience
scoring_userexperience
silk_profile
silk_profile_queries
silk_sqlquery
silk_request
silk_response
social_auth_usersocialauth

# Anonymization </br>
Returning all the names of the columns that have a column with 'username' or ' email' in their name.

In [75]:
query = """
select table_name
from information_schema.columns
where column_name like 'username' OR column_name like 'email'
"""
sen_table_names = pd.read_sql(query,conn)
sen_table_names

/Users/ruddysimonpour/opt/anaconda3/envs/pythonenv/lib/python3.10/site-packages/pandas/io/sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

                  table_name
0  matching_matchingsettings
1    billing_paymentcustomer
2  challenge_challengeinvite
3          group_groupinvite
4                member_user
5           social_auth_code

In [79]:
query_mem = """
select * from billing_paymentcustomer
limit 100
"""

member_df = pd.read_sql(query_mem, conn)
member_df.head(5)

/Users/ruddysimonpour/opt/anaconda3/envs/pythonenv/lib/python3.10/site-packages/pandas/io/sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

,id,payment_id,first_name,last_name,email,phone,company,vat_number,auto_collection,net_term_days,...,promotional_credits,unbilled_charges,refundable_credits,excess_payments,meta_data,deleted,registered_for_gst,customer_type,user_id,card_status
0,1,1mkVvtKRRHh1FSJa3,Richard,Hajdu,tuskone16+richard@gmail.com,None,None,None,on,0,...,0,0,0,0,None,False,None,None,NaN,no_card
1,2476,AzZcqTRqPip7E1IOs,nichol,alexander,nichol.alexander@gmail.com,None,None,None,on,0,...,0,0,0,0,None,False,None,None,9244.0,no_card
2,2683,16A18eRueDRUg2GYP,Richard,Loera,subs.smtv@gmail.com,None,None,None,on,0,...,0,0,0,0,None,False,None,None,9427.0,no_card
3,2381,16BZD4Rohbj6F1FYl,Juan,Abraham,juanantonio.abraham@gmail.com,None,None,None,on,0,...,0,0,0,0,None,False,None,None,9163.0,no_card
4,3,1vljsjqRRJpghhWO3,Daniel,Reinoso,danielreinoso1807@gmail.com,None,None,None,on,0,...,0,0,0,0,None,False,None,None,7292.0,no_card

In [80]:
query_create_view = """
create view anonymized_billing_paymentcustomer AS
select
    id,
    payment_id,
    CONCAT('User', id) AS first_name, 
    CONCAT('User', id) AS last_name,
    CONCAT('user', id, '@example.com') AS email 
from
    billing_paymentcustomer;
"""

with conn.cursor() as cur:
    cur.execute(query_create_view)

In [81]:
query_anonymized = """
SELECT * FROM anonymized_billing_paymentcustomer
LIMIT 100
"""

anonymized_df = pd.read_sql(query_anonymized, conn)
anonymized_df

/Users/ruddysimonpour/opt/anaconda3/envs/pythonenv/lib/python3.10/site-packages/pandas/io/sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

      id           payment_id first_name last_name                 email
0      1    1mkVvtKRRHh1FSJa3      User1     User1     user1@example.com
1   2476    AzZcqTRqPip7E1IOs   User2476  User2476  user2476@example.com
2   2683    16A18eRueDRUg2GYP   User2683  User2683  user2683@example.com
3   2381    16BZD4Rohbj6F1FYl   User2381  User2381  user2381@example.com
4      3    1vljsjqRRJpghhWO3      User3     User3     user3@example.com
..   ...                  ...        ...       ...                   ...
95   103  2smoc968RRhldKD26si    User103   User103   user103@example.com
96   113    1mkVvt3RRhle1tt0j    User113   User113   user113@example.com
97   106   1vljsVvRRhldYh23ej    User106   User106   user106@example.com
98   120    Hr551AuRRhlfH8slJ    User120   User120   user120@example.com
99   107   1vljsVvRRhldfn23eq    User107   User107   user107@example.com

[100 rows x 5 columns]